
body {
    height: 100vh;
    background-color: #fffea9;
}

.element {
    height: 200px;
    width: 200px;
    background-color: #ff5959;
    /*animation-name: square;*/
    /*animation-duration: 5s;*/
    /*animation-timing-function: ease-in-out;*/
    /*animation-delay: 3s;*/
    /*animation-iteration-count: 3;*/
    /*animation-direction: alternate;*/
    /*animation-fill-mode: both;*/
    /*animation-play-state: paused;*/

    animation: square 5s ease-in-out 3s 3 alternate both paused;
}

.element:hover {
    animation-play-state: running;
}


@keyframes square {
    0% {
        width: 50px;
    }
    27%{
        width: 300px;
    }

    50% {
        width: 100px;
    }

    100% {
        width: 500px;
        background-color: lightseagreen;
    }
}