
* {
    box-sizing: border-box;
}


body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    padding: 40px;
    margin: 0;
    color: white;
}

.box {
    height: 80vh;
    border: 4px solid rgba(184, 128, 235, 0.58);
    display: flex;
    justify-content: center;
    align-items: center;

    /*background-color: #87faf1;*/
    background-image: linear-gradient(135deg, rgba(255, 255, 146, 0.68), rgb(181, 117, 241)), url(./img/mountain1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /*background-attachment: fixed;*/

    /*padding: 100px;*/
    /*background-clip: padding-box;*/
    /*background-origin: padding-box;*/

    background-blend-mode: soft-light;
}