
* {
    box-sizing: border-box;
}

*::selection {
    color: white;
    background-color: lightgreen;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

p {
    max-width: 70%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
}

input {
    width: 500px;
    height: 40px;
    font-size: 20px;
    padding: 0 15px;
}

span {
    user-select: none;
}



