
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.app {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
    'h h'
    'a m'
}

header {
    background-color: cornflowerblue;
    border: 2px solid;
    grid-area: h;
}

aside {
    background-color: lightcoral;
    border: 2px solid;
    grid-area: a;
}

main {
    background-color: lightgray;
    border: 2px solid;
    padding: 10px;
    grid-area: m;
    overflow: hidden;
}

.some-info {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid;
    overflow: auto;
}

.box {
    background-color: lightskyblue;
    min-width: 250px;
    min-height: 70px;
}

.content {
    padding: 10px;
    background-color: white;
    border: 2px solid;
    height: calc(100% - 110px);
    overflow: auto;
}

