
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    border: 2px solid rgb(154, 154, 154);
    max-width: 600px;
    overflow: hidden;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}